<h1>ACT Project App Homepage</h1>
<br>

<p>Add the two numbers:</p>
<%= form_tag(calculate_path, method: :post, data: { turbo: false }) do %>
  <%= label_tag(:var1, "Variable 1:") %>
  <%= number_field_tag(:var1) %>

  <%= label_tag(:var2, "Variable 2:") %>
  <%= number_field_tag(:var2) %>

  <%= submit_tag("Calculate") %>
<% end %>

<br>
<p>Result of the addition:</p>
<% if @result %>
  <p><%= @result %></p>
<% end %>
