<div class="w-screen m-0 bg-beige-color">

  <!-- BANNER -->

  <div id="hero-banner" class="h-auto lg:h-96 bg-primary lg:flex lg:flex-col lg:justify-center" style="background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">

    <div class="gap-2 pt-4 ml-4 lg:flex lg:gap-6 lg:ml-12 lg:pt-12">
      <a href="#section-calcul" class="hidden text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:block">Heparin prediction</a>
      <a href="#section-calcul" class="text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:hidden">Prediction</a>
      <span class="text-sm text-white lg:text-2xl lg:hidden"> | </span>
      <a href="#section-tutorial" class="hidden text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:block">Tutorial</a>
      <a href="#section-tutorial" class="text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:hidden">Tuto</a>
      <span class="text-sm text-white lg:text-2xl lg:hidden"> | </span>
      <a href="#section-team" class="text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark">Team</a>
      <span class="text-sm text-white lg:text-2xl lg:hidden"> | </span>
      <a href="#section-biblio" class="hidden text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:block">Bibliography</a>
      <a href="#section-biblio" class="text-sm font-bold text-white lg:text-xl lg:hover:text-icon-color-dark lg:hidden">Biblio</a>
    </div>

    <div class="flex flex-col items-center h-full gap-2 p-5 mx-auto lg:flex-row lg:justify-center lg:max-w-6xl lg:gap-6">
      <%= image_tag 'Logo_CHU.png', alt: 'Description of the image', class: 'lg:w-96 h-auto w-48' %>

      <div class="flex flex-col items-center gap-2 mx-auto lg:gap-4 lg:items-start">
        <h1 class="text-2xl font-bold text-white lg:text-4xl">ACTdose, what is it?</h1>
        <p class="text-base text-white lg:text-xl"><strong>ACTdose</strong> is an interactive tool
          dedicated to estimating the <strong>individual pharmacodynamics of unfractionated heparin (UFH)</strong>
          in cardiac surgery using a <strong>Bayesian approach</strong> with <strong>activated clotting time (ACT) measurements</strong>
        </p>
        <p class="text-base text-white lg:text-xl">
          This tool offers the possibility to <strong>estimate individual pharmacodynamic parameters</strong> and
          provide <strong>dosing regimen proposals</strong>
        </p>
      </div>
    </div>

  </div>

  <!-- DISCLAIMER FOR RESEARCH -->
  <div class="full-width bg-[#fc8c4c] mt-2 lg:mt-12" style="background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">
    <div class="flex justify-center p-2 mx-auto lg:p-4 lg:w-4/5">
      <p class="text-sm font-semibold text-left text-gray-800 lg:text-lg"><strong>Disclaimer:</strong> this website is for research purposes only</p>
    </div>
  </div>

  <!-- FORM AND RESULTS -->
  <div class="container mx-auto mt-2 bg-white lg:mt-12 lg:w-4/5 lg:rounded-2xl lg:shadow-lg"> <!-- lg:max-w-8xl -->

    <div class="p-2 lg:p-4">

      <div class="container mx-auto">  <!--max-w-2xl  text-center-->
        <h2 id="section-calcul" class="text-base font-bold text-center text-icon-color-dark lg:text-xl">Heparin prediction form</h2>
      </div>
      <a href="#section-tutorial" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mb-6 mb-3">How does it work?</a>
      <div data-controller="form-handler">
        <!-- Form -->
        <div data-form-handler-target="form">
            <%= form_with model: @patient, data: { action: "form-handler#validateAndSubmitForm" } do |form| %>
              <div class="flex flex-col p-2 py-4 lg:px-4 lg:py-6">
                <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg">1 - Setup <em class="text-xs font-normal lg:text-sm">(required)</em></h2>
                <div id="patient-weight" class="flex items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5">
                  <%= form.label :patient_weight, class: "flex items-center lg:mr-2 mr-1" do %>
                    <%= raw('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="hidden h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark lg:block">
                      <path d="M128 176a128 128 0 1 1 256 0 128 128 0 1 1 -256 0zM391.8 64C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64L64 64C28.7 64 0 92.7 0 128L0 448c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64l-56.2 0zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"/>
                    </svg>') %>
                    Patient weight
                  <% end %>
                  <%= form.number_field :patient_weight, placeholder: "kg", data: { form_handler_target: "patientWeight" }, class: "out-of-range:border-red-500 flex-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs", min: "1", max: "300"%>
                </div>

                <div id="act-target" class="flex items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5">
                  <%= form.label :act_target, class: "flex items-center lg:mr-2 mr-1" do %>
                    <%= raw('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="hidden h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark lg:block">
                      <path d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                    </svg>') %>
                    Target ACT (seconds)
                  <% end %>
                  <%= form.number_field :act_target, value: "400", min: "1", max: "1000", data: { form_handler_target: "actTarget" }, class: "out-of-range:border-red-500 flex-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                </div>

                <div id="times-between-bolus" class="flex items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5">
                  <%= form.label :delta_t, class: "flex items-center lg:mr-2 mr-1" do %>
                    <%= raw('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="hidden h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark lg:block">
                      <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                    </svg>') %>
                    Time between bolus injections (minutes)
                  <% end %>
                  <%= form.number_field :delta_t, value: "30", min: "0", data: { form_handler_target: "timesBetweenBolus" }, class: "out-of-range:border-red-500 flex-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                </div>
              </div>


              <!-- ACT measurement part -->
              <div data-controller="addable moveable">
                <div id="act-measured" class="flex flex-col p-4 -mx-2 pt-4 pb-4 bg-light-green lg:px-8 lg:pt-6 lg:pb-6 lg:-mx-4"> <!-- rounded-2xl -->
                  <h2 class="flex items-center text-sm font-semibold text-left text-gray-800 lg:text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark">
                      <path d="M192 512C86 512 0 426 0 320C0 228.8 130.2 57.7 166.6 11.7C172.6 4.2 181.5 0 191.1 0l1.8 0c9.6 0 18.5 4.2 24.5 11.7C253.8 57.7 384 228.8 384 320c0 106-86 192-192 192zM96 336c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 61.9 50.1 112 112 112c8.8 0 16-7.2 16-16s-7.2-16-16-16c-44.2 0-80-35.8-80-80z"/>
                    </svg>
                    2 - ACT&nbsp;<em class="text-xs font-normal lg:text-sm">(required)</em>
                  </h2>

                  <div data-addable-target="actValues" data-controller="deletable">
                    <div class="w-full act-row lg:flex lg:items-center">
                      <div class="flex lg:flex-row flex-col lg:items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5 w-full">
                        <%= form.fields_for :acts do |acts_form| %>
                          <div class="flex flex-row w-full">
                            <%= acts_form.label :act_value_measured, "Measured ACT values", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= acts_form.number_field :act_value_measured, data: { form_handler_target: "actValueMeasured" }, placeholder: "seconds", min: "1", max: "1000", class: "out-of-range:border-red-500 w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                          <div class="flex flex-row w-full">
                            <%= acts_form.label :act_measurement_time, "Time", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= acts_form.datetime_field :act_measurement_time, data: { form_handler_target: "actDatetimeInput" }, class: "w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                        <% end %>
                      </div>

                      <div class="flex items-center justify-end lg:justify-center">
                        <button data-action="click->moveable#actMoveDown" class="invisible move-down">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM244.7 395.3l-112-112c-4.6-4.6-5.9-11.5-3.5-17.4s8.3-9.9 14.8-9.9l64 0 0-96c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 96 64 0c6.5 0 12.3 3.9 14.8 9.9s1.1 12.9-3.5 17.4l-112 112c-6.2 6.2-16.4 6.2-22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->moveable#actMoveUp" class="invisible move-up">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm11.3-395.3l112 112c4.6 4.6 5.9 11.5 3.5 17.4s-8.3 9.9-14.8 9.9l-64 0 0 96c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-96-64 0c-6.5 0-12.3-3.9-14.8-9.9s-1.1-12.9 3.5-17.4l112-112c6.2-6.2 16.4-6.2 22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->deletable#deleteActValues">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="flex justify-center">
                    <button data-action="click->addable#addActValues"  class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline">Add an ACT measurement</button>
                  </div>
                </div>

                <!-- HEPARIN BOLUS INJECTION PART -->
                <div id="bolus-injection"  class="flex flex-col p-2 lg:p-4">
                  <div data-addable-target="heparinsValues" data-controller="deletable">
                  <br>
                    <h2 class="flex items-center text-sm font-semibold text-left text-gray-800 lg:text-lg">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark">
                        <path d="M441 7l32 32 32 32c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-15-15L417.9 128l55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-72-72L295 73c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l55 55L422.1 56 407 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0zM210.3 155.7l61.1-61.1c.3 .3 .6 .7 1 1l16 16 56 56 56 56 16 16c.3 .3 .6 .6 1 1l-191 191c-10.5 10.5-24.7 16.4-39.6 16.4l-88.8 0L41 505c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57 0-88.8c0-14.9 5.9-29.1 16.4-39.6l43.3-43.3 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57 41.4-41.4 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57z"/>
                      </svg>
                      3 - Heparin bolus injections
                    </h2>

                    <div class="w-full bolus-row lg:flex lg:items-center">
                      <div class="flex lg:flex-row flex-col lg:items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5 w-full">
                        <%= form.fields_for :heparins do |heparins_form| %>
                          <div class="flex flex-row w-full">
                            <%= heparins_form.label :bolus_given, "Heparin bolus injection", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= heparins_form.number_field :bolus_given, placeholder: "Total UI per shot", min: "1", class: "w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                          <div class="flex flex-row w-full">
                            <%= heparins_form.label :bolus_time, "Time", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= heparins_form.datetime_field :bolus_time, data: { form_handler_target: "bolusDatetimeInput" }, class:"w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                        <% end %>
                      </div>

                      <div class="flex items-center justify-end lg:justify-center">
                        <button data-action="click->moveable#bolusMoveDown" class="invisible move-down">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM244.7 395.3l-112-112c-4.6-4.6-5.9-11.5-3.5-17.4s8.3-9.9 14.8-9.9l64 0 0-96c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 96 64 0c6.5 0 12.3 3.9 14.8 9.9s1.1 12.9-3.5 17.4l-112 112c-6.2 6.2-16.4 6.2-22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->moveable#bolusMoveUp" class="invisible move-up">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm11.3-395.3l112 112c4.6 4.6 5.9 11.5 3.5 17.4s-8.3 9.9-14.8 9.9l-64 0 0 96c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-96-64 0c-6.5 0-12.3-3.9-14.8-9.9s-1.1-12.9 3.5-17.4l112-112c6.2-6.2 16.4-6.2 22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->deletable#deleteBolus">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="flex justify-center">
                    <button data-action="click->addable#addBolus"  class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline">Add a bolus</button>
                  </div>
                </div>


                <!-- HEPARIN INFUSION PART -->
                <div id="heparins-infusions" class="flex flex-col p-2 lg:p-4">
                  <div data-addable-target="heparinsInfusions" data-controller="deletable">
                    <br>
                    <h2 class="flex items-center text-sm font-semibold text-left text-gray-800 lg:text-lg">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 mr-1 fill-current lg:w-5 lg:h-5 lg:mr-2 w:-4 text-icon-color-dark">
                        <path d="M441 7l32 32 32 32c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-15-15L417.9 128l55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-72-72L295 73c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l55 55L422.1 56 407 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0zM210.3 155.7l61.1-61.1c.3 .3 .6 .7 1 1l16 16 56 56 56 56 16 16c.3 .3 .6 .6 1 1l-191 191c-10.5 10.5-24.7 16.4-39.6 16.4l-88.8 0L41 505c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57 0-88.8c0-14.9 5.9-29.1 16.4-39.6l43.3-43.3 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57 41.4-41.4 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57z"/>
                      </svg> -->
                      <%= image_tag 'icons/infusion_icon.svg', class: 'lg:w-5 lg:h-5 lg:mr-2 w-4 h-4 mr-1 fill-current text-icon-color-dark' %>
                      4 - Heparin infusions
                    </h2>

                    <div class="w-full lg:flex lg:items-center infusion-row">
                      <div class="flex lg:flex-row flex-col lg:items-center lg:gap-2 lg:my-2 lg:text-base text-sm gap-0.5 my-0.5 w-full">
                        <%= form.fields_for :heparins do |heparins_form| %>
                          <div class="flex flex-row w-full">
                            <%= heparins_form.label :infusion_rate_given, "Heparin infusion", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= heparins_form.number_field :infusion_rate_given, placeholder: "IR (UI per hour)", min: "1", class: "w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                          <div class="flex flex-row w-full">
                            <%= heparins_form.label :infusion_duration, "Duration", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= heparins_form.number_field :infusion_duration, placeholder: "minutes", min: "1", class: "w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                          <div class="flex flex-row w-full">
                            <%= heparins_form.label :infusion_time, "Start time", class:"lg:text-base text-sm flex items-center lg:mr-2 mr-1" %>
                            <%= heparins_form.datetime_field :infusion_time, data: { form_handler_target: "infusionDatetimeInput" }, class: "w-full max-w-full lg:flex-1 flex-shrink-1 rounded-lg border-2 border-quaternary bg-secondary-light text-secondary-dark lg:p-2 p-1 focus:border-icon-color-dark data-hj-allow lg:text-base text-xs" %>
                          </div>
                        <% end %>
                      </div>

                      <div class="flex items-center justify-end lg:justify-center">
                        <button data-action="click->moveable#infusionMoveDown" class="invisible move-down">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM244.7 395.3l-112-112c-4.6-4.6-5.9-11.5-3.5-17.4s8.3-9.9 14.8-9.9l64 0 0-96c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 96 64 0c6.5 0 12.3 3.9 14.8 9.9s1.1 12.9-3.5 17.4l-112 112c-6.2 6.2-16.4 6.2-22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->moveable#infusionMoveUp" class="invisible move-up">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm11.3-395.3l112 112c4.6 4.6 5.9 11.5 3.5 17.4s-8.3 9.9-14.8 9.9l-64 0 0 96c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-96-64 0c-6.5 0-12.3-3.9-14.8-9.9s-1.1-12.9 3.5-17.4l112-112c6.2-6.2 16.4-6.2 22.6 0z"/>
                          </svg>
                        </button>
                        <button data-action="click->deletable#deleteInfusion">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 ml-1 fill-current lg:w-8 lg:h-8 lg:ml-2 text-icon-color-dark lg:hover:text-active-color active:scale-95">
                            <path fill="icon-color-dark" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                <div class="flex justify-center">
                  <button data-action="click->addable#addInfusion" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline">Add an infusion</button>
                </div>
              </div>
            </div>

            <br>
            <div class="flex flex-col items-center justify-center">
              <%= form.submit "Calculate dosing regimen", class:"flex justify-center lg:text-lg text-base bg-icon-color-dark text-white font-bold lg:px-4 lg:py-2 px-3 py-1.5 rounded lg:hover:bg-active-color active:bg-active-color active:scale-95 focus:outline-none focus:shadow-outline" %>
                <%= image_tag 'animatedCircle.gif', id:"loading-gif", class: 'mt-4 w-12 lg:w-auto', style:"display:none"%>
                <!-- <img id="loading-gif" class="mt-4" style="display:none" src="http://chimplyimage.appspot.com/images/samples/classic-spinner/animatedCircle.gif" /> -->
              <% end %>
            </div>
        </div>
        <br>

        <!-- SECTION 3 RESULTS -->
        <div class="p-3 m-0 bg-secondary adaptative-width rounded-2xl lg:shadow-lg lg:p-4">

          <div class="container mx-auto">
            <h2 class="mb-2 text-base font-bold text-center text-icon-color-dark lg:text-xl lg:mb-4" data-form-handler-target="result">Recommandations</h2>
          </div>


          <div class="mx-auto overflow-x-auto shadow-md rounded-2xl">
            <table id="result-table" class="!hidden lg:!table w-full text-center text-gray-500 rounded-2xl">
              <thead class="text-gray-700 bg-light-color">
                <tr>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4"></th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" colspan="2">Intermittent strategy</th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" colspan="2">Continuous strategy</th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4">Value</th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4">95% CI</th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4">Value</th>
                  <th scope="col" class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4">95% CI</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap">New loading dose</th>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-ld"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-ld-ci"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-ld"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-ld-ci"></td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap " id="new-int-mb-delta-t-minutes">New maintenance bolus</th>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-mb"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-mb-ci"></td>
                  <td rowspan="2" colspan="2" class="px-2 py-1 bg-gray-100 lg:px-6 lg:py-4"></td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap">Total (LD + MB)</th>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" colspan="2" id="new-int-total"></td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap">New infusion rate</th>
                  <td rowspan="2" colspan="2" class="px-2 py-1 bg-gray-100 lg:px-6 lg:py-4"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-rate"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-rate-ci"></td>
                </tr>
                <tr class="bg-white border-b border-gray-20 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap">New infusion rate/500</th>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" colspan="2" id="new-inf-rate-500"></td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                  <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 lg:text-base lg:px-6 lg:py-4 whitespace-nowrap">Injection (bolus or IR) in</th>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-time"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-int-time-ci"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-time"></td>
                  <td class="px-2 py-1 text-sm lg:text-base lg:px-6 lg:py-4" id="new-inf-time-ci"></td>
                </tr>
                <tr class="bg-white border-b border-gray-200">
                  <td colspan="5" class="px-2 py-1 text-xs text-left lg:text-base lg:px-6 lg:py-4"><em>CI: confidence interval, LD: loading dose, MB: maintenance bolus, IR: infusion rate</em></td>
                </tr>
              </tbody>
            </table>

            <!-- Split tables for small screens -->
            <div class="block lg:hidden">
              <!-- First part of the table -->
              <table class="w-full mb-4 text-center text-gray-500">
                <thead class="text-gray-700 bg-light-color">
                  <tr>
                    <th scope="col" class="px-2 py-1 text-sm"></th>
                    <th scope="col" class="px-2 py-1 text-sm" colspan="2">Intermittent strategy</th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" class="px-2 py-1 text-sm">Value</th>
                    <th scope="col" class="px-2 py-1 text-sm">95% CI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">New LD</th>
                    <td class="px-2 py-1 text-sm" id="new-int-ld-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-int-ld-ci-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap" id="new-int-mb-delta-t-minutes-small">New MB</th>
                    <td class="px-2 py-1 text-sm" id="new-int-mb-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-int-mb-ci-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">Total (LD + MB)</th>
                    <td class="px-2 py-1 text-sm" colspan="2" id="new-int-total-small"></td>
                  </tr>
                    <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">Injection in</th>
                    <td class="px-2 py-1 text-sm" id="new-int-time-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-int-time-ci-small"></td>
                  </tr>
                </tbody>
              </table>

              <!-- Second part of the table -->
              <table class="w-full text-center text-gray-500">
                <thead class="text-gray-700 bg-light-color">
                  <tr>
                    <th scope="col" class="px-2 py-1 text-sm"></th>
                    <th scope="col" class="px-2 py-1 text-sm" colspan="2">Continuous strategy</th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" class="px-2 py-1 text-sm">Value</th>
                    <th scope="col" class="px-2 py-1 text-sm">95% CI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">New LD</th>
                    <td class="px-2 py-1 text-sm" id="new-inf-ld-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-inf-ld-ci-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">New IR</th>
                    <td class="px-2 py-1 text-sm" id="new-inf-rate-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-inf-rate-ci-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">New IR/500</th>
                    <td class="px-2 py-1 text-sm" colspan="2" id="new-inf-rate-500-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200 hover:bg-very-light-color">
                    <th scope="row" class="px-2 py-1 text-sm text-left text-gray-900 whitespace-nowrap">Injection in</th>
                    <td class="px-2 py-1 text-sm" id="new-inf-time-small"></td>
                    <td class="px-2 py-1 text-sm" id="new-inf-time-ci-small"></td>
                  </tr>
                  <tr class="bg-white border-b border-gray-200">
                    <td colspan="5" class="px-2 py-1 text-xs text-left"><em>CI: confidence interval, LD: loading dose, MB: maintenance bolus, IR: infusion rate</em></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="image-container" class="flex flex-col items-center justify-center gap-1 mt-2 plot-container lg:flex-row lg:mt-4 lg:gap-2"></div>
          <br>
          <div class="flex justify-center">
            <a href="#section-result-interpretation" id="interpret-link" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mb-4 mb-2">How to interpret the results?</a>
          </div>
          <div><button id="print-to-pdf" style="display:none" class="flex justify-center lg:text-xl text-base bg-icon-color-dark text-white font-bold lg:px-4 lg:py-2 px-3 py-1.5 rounded lg:hover:bg-active-color active:bg-active-color active:scale-95 focus:outline-none focus:shadow-outline">Print to PDF</button></div>
        </div>
      </div>
    </div>
  </div>


  <!-- TUTORIAL -->
  <div class="container mx-auto mt-8 mb-4 lg:w-4/5 lg:mb-8 lg:mt-12">

    <div class="container mx-auto my-4">
      <h2 id="section-tutorial" class="mb-2 text-base font-bold text-center text-icon-color-dark lg:text-xl lg:mb-4">Tutorial</h2>
    </div>

    <div class="flex flex-col mx-5">

      <div class="flex lg:flex-row flex-col items-center gap-4 mx-auto">
        <div class="flex flex-col p-2 py-4 lg:px-4 lg:py-6 relative lg:w-1/2">
          <div class="z-10">
            <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg">1 - Setup</h2>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Patient weight</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs"><span id="writing-weight"></span><span class="cursor">|</span></p>
            </div>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Target ACT (s)</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs">400</p>
            </div>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time between bolus injections (min)</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:pr-24 pr-12 lg:text-base text-xs">30</p>
            </div>
          </div>
          <div class="fun-border absolute inset-0 bg-very-light-color z-8 parallax"></div>
        </div>
        <div class="flex flex-col align-start lg:w-1/2">
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1 lg:text-left text-center"><strong>Section 1:</strong></p>
          <p class="text-sm text-gray-800 lg:text-base">Enter the <strong>patient's body weight</strong> in kg</p>
          <p class="text-sm text-gray-800 lg:text-base">Enter the <strong>target ACT recquired by the surgery</strong>, the ACT threshold you wish to be at or above, in seconds</p>
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1">Enter the <strong>time between heparin bolus injections</strong> in minutes for the intermittent bolus dosing regimen, such as every 30 or 60 min</p>
          <p class="text-sm text-gray-800 lg:text-base"><em>Those informations are mandatory for the models to compute</em></p>
        </div>
      </div>

      <br class="lg:hidden">
      <hr class="lg:hidden">
      <br>

      <div class="flex lg:flex-row flex-col items-center gap-4 mx-auto">
        <div class="flex flex-col align-start lg:w-1/2 hidden lg:block">
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1 lg:text-left text-center"><strong>Section 2:</strong></p>
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1">Enter the <strong>ACT measurements</strong> in seconds, <strong>with their measurement times</strong> (date, hour and minutes), in chronological order</p>
          <p class="text-sm text-gray-800 lg:text-base"><em>Those informations are mandatory for the models to compute</em></p>
        </div>
        <div class="flex flex-col p-2 py-4 lg:px-4 lg:py-6 relative lg:w-1/2">
          <div class="z-20 relative">
            <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg">2 - ACT</h2>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">ACT measurement</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs">120</p>
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs whitespace-nowrap">30/10/2024 10:10</p>
            </div>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">ACT measurement</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs">380&nbsp&nbsp</p>
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs whitespace-nowrap">30/10/2024 11:00</p>
            </div>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">ACT measurement</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs"><span id="writing-act"></span><span class="cursor">|</span></p>
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs whitespace-nowrap">30/10/2024 11:20</p>
            </div>
          </div>
          <div class="fun-border-2 absolute inset-0 bg-light-green z-8 parallax"></div>
        </div>
        <div class="flex flex-col align-start lg:hidden">
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1 lg:text-left text-center"><strong>Section 2:</strong></p>
          <p class="text-sm text-gray-800 lg:text-base">Enter the <strong>ACT measurements</strong> in seconds, <strong>with their measurement times</strong> (date, hour and minutes), in chronological order</p>
          <p class="text-sm text-gray-800 lg:text-base"><em>Those informations are mandatory for the models to compute</em></p>
        </div>
      </div>

      <br class="lg:hidden">
      <hr class="lg:hidden">
      <br>

      <div class="flex lg:flex-row flex-col items-center gap-4 mx-auto">
        <div class="flex flex-col justify-center items-center p-2 py-4 lg:px-4 lg:py-6 relative lg:w-1/2">
          <div class="z-10">
            <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg mb">3 - Heparin bolus injections</h2>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5 flex-1">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Heparin bolus</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs">10000</p>
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs whitespace-nowrap">30/10/2024 10:50</p>
            </div>
            <div class="flex flex-row items-center lg:gap-2 gap-0.5 my-0.5">
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Heparin bolus</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs"><span id="writing-bolus"></span><span class="cursor">|</span></p>
              <p class="lg:my-2 lg:text-base text-sm flex items-center whitespace-nowrap">Time</p>
              <p class="flex-1 rounded-lg border-2 border-quaternary bg-beige-color text-secondary-dark lg:p-2 p-1 lg:text-base text-xs whitespace-nowrap">30/10/2024 11:15</p>
            </div>
          </div>
          <div class="fun-border absolute inset-0 bg-very-light-color z-8 parallax"></div>
        </div>
        <div class="flex flex-col align-start lg:w-1/2">
          <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1 lg:text-left text-center"><strong>Sections 3 and 4:</strong></p>
          <p class="text-sm text-gray-800 lg:text-base">Enter the <strong>time</strong> of administration <strong>and amount of administered UFH bolus</strong> in UI</p>
          <p class="text-sm text-gray-800 lg:text-base">Enter the <strong>start time</strong>, <strong>duration</strong> in minutes <strong>and infusion rate</strong> in UI per hour of <strong>UFH infusions administered</strong></p>
        </div>
      </div>

      <br class="lg:hidden">
      <hr class="lg:hidden">
      <br>

      <div class="flex flex-col justify-center align-items-center mx-auto lg:w-3/5 lg:mb-4 mb-2">
        <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1 text-center"><strong>Run calculations:</strong></p>
        <p class="text-sm lg:text-base text-gray-800 lg:mb-2 mb-1">Press <span class="text-sm lg:text-base bg-icon-color-dark text-white font-bold lg:px-2 lg:py-1 px-1 py-0.5 rounded">Calculate dosing regimen</span> to <strong>calculate an optimized UFH dosing regimen</strong> based on ACT measurements</p>
        <p class="text-sm text-gray-800 lg:text-base lg:mb-2 mb-1">The results contain <strong>dosing recommendations</strong> for both <strong>Intermittent UFH dosing strategy</strong> (based on iterative bolus) and <strong>continuous UFH dosing strategy</strong> (based on continuous infusion)</p>
        <p class="text-sm text-[#FF0808] lg:text-base"><em>Please note that no data is stored on the site. Refreshing or exiting the page will cause you to lose your session!</em></p>
      </div>

      <br class="lg:hidden">
      <hr class="lg:hidden">
      <br>

      <div data-controller="toggle">

        <div id="section-result-interpretation" class="flex justify-center" data-action="click->toggle#fire">
          <p class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mb-6 mb-3">Details on interpreting results</p>
        </div>

        <div class="smooth-toggle togglable-element" data-toggle-target="togglableElement">
          <div class="lg:mx-4 mb-4">
            <div class="flex flex-col gap-4 mx-auto">
              <%= image_tag 'tuto/result_table_tuto.png', alt: 'Description of the image', class: 'lg:w-4/5 w-5/5 h-auto rounded-2xl shadow-lg mx-auto lg:block hidden' %>
              <%= image_tag 'tuto/table_sm.png', alt: 'Description of the image', class: 'lg:w-4/5 w-5/5 h-auto rounded-2xl shadow-lg mx-auto mx-4 lg:hidden' %>

              <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg mx-auto">Table interpretation:</h2>
              <p class="text-sm text-gray-800 lg:text-base text-left">The table presents the <strong>model's recommandations for</strong> both <strong>an intermittent UFH dosing strategy and a continous UFH dosing strategy</strong></p>

              <p class="text-sm text-gray-800 lg:text-base"><strong>The loading dose (LD)</strong> corresponds to the <strong>intravenous UFH bolus to administer to reach the desired target ACT</strong> if the last measured ACT was below the ACT target</p>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The maintenance bolus (MD)</strong> corresponds to the <strong>intravenous UFH bolus to administer to stay above the desired ACT target</strong> threshold during the period of time defined in section 1 (example: MB to administer every 30 or 60 minutes to stay above target ACT)</p>
              <p class="text-sm text-gray-800 lg:text-base">Total (LD + MD) is the sum of the loading dose and the maintenance bolus to admninister for the intermittent dosing strategy</p>
              <p class="text-sm text-gray-800 lg:text-base">For the continuous dosing strategy, <strong>the infusion rate (IR)</strong> corresponds to <strong>the UFH infusion rate in UI per hour to keep the ACT values at the desired ACT target</strong> during surgey</p>
              <p class="text-sm text-gray-800 lg:text-base">Finally, for both dosing strategies, the last table row corresponds to <strong>the time to wait before the next recommended LD, MD and IR to administer</strong>. This waiting time starts at the time of the last measured ACT</p>

              <%= image_tag 'tuto/plots_tuto.png', alt: 'Description of the image', class: 'lg:w-4/5 w-5/5 h-auto rounded-2xl shadow-lg mx-auto lg:block hidden' %>
              <%= image_tag 'tuto/plot_solo.png', alt: 'Description of the image', class: 'lg:w-4/5 w-5/5 h-auto rounded-2xl shadow-lg mx-auto lg:hidden mx-4' %>

              <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg mx-auto">Plot interpretation:</h2>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The horizontal black dotted line</strong> represents the <strong>target ACT</strong> threshold chosen for the surgery</p>
              <p class="text-sm text-gray-800 lg:text-base text-left"><strong>The brown circles</strong> represent <strong>the measured ACT values</strong></p>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The blue solid line</strong> corresponds to <strong>fitted ACT values</strong> using using dosing history, patient body weigth and ACT measurements</p>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The red dotted line</strong> corresponds to <strong>predicted ACT values</strong> using the individualized UFH dosing regimen, continuous or intermittent</p>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The vertical brown dotted line</strong> represents the <strong>time for the next injection</strong>, LD, MB and or IR</p>
              <p class="text-sm text-gray-800 lg:text-base"><strong>The beautiful golden yellow ribbons</strong> correpond to the <strong>50% and 90% confidence intervals</strong></p>


              <h2 class="text-sm font-semibold text-left text-gray-800 lg:text-lg mx-auto">Methodology:</h2>
              <p class="text-sm text-gray-800 lg:text-base">
                The pharmacodynamic models of UFH during cardiac surgery used in this application were developed using
                pharmacodynamic data from more than 200 patients. The models were developed using non-linear
                mixed effect modelling approach, and are robust to outlier ACT measurements
              </p>
              <p class="text-sm text-gray-800 lg:text-base">
                All details concerning the pharmacokinetic models are presented in the <a href="#section-biblio" class="lg:my-2 lg:text-base text-sm font-bold text-icon-color-dark lg:hover:text-active-color">bibliography section</a>
              </p>
              <div id="section-result-interpretation" class="flex justify-center" data-action="click->toggle#fire">
                <a href="#section-result-interpretation" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mb-6 mb-3">Fold section</a>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- TEAM -->
  <div class="mx-auto full-width bg-secondary lg:py-4">
    <div class="container max-w-6xl gap-5 py-4 mx-auto my-0 lg:flex lg:flex-row lg:p-4 lg:justify-center lg:w-4/5">
      <div class="flex flex-col justify-center w-4/5 mx-auto mb-3 justify-items-start lg:basis-2/3">
        <h2 id="section-team" class="mb-2 text-base font-bold text-center text-icon-color-dark lg:text-xl lg:mb-4 lg:text-start">ACT Pred, who is it?</h2>
        <p class="text-sm text-base text-gray-800 lg:text-lg"><strong>Scientific managers:</strong> This app has been developped and designed by Edouard Ollier, Julien Lanoisele and Robin
          Chaux from INSERM unit U1059 (https://sainbiose-lab.fr)</p>
        <br>
        <p class="text-sm text-base text-gray-800 lg:text-lg"><strong>Web developers:</strong> Robin Chaux, Thanh Truc Pham, Timoth Carrier</p>
      </div>
      <!-- <p class="text-lg text-gray-800">Logo designers: ...</p> -->
      <div class="flex items-center justify-center align-items-center lg:basis-1/3">
        <a href="mailto:actpred@actpred.com" class="flex justify-center text-base font-bold text-white lg:text-lg bg-icon-color-dark px-3 lg:px-4 lg:py-2 py-1.5 rounded lg:hover:bg-active-color active:bg-active-color active:scale-95 focus:outline-none focus:shadow-outline">Contact us</a>
      </div>
    </div>
    <h2 class="mb-0 text-sm font-bold text-center text-gray-900 lg:text-lg">With the scientific support of:</h2>
    <div class="flex flex-row justify-center w-full h-full gap-6 mt-4">
      <%= image_tag 'Logo_CHU.png', alt: 'Description of the image', class: 'lg:w-auto lg:h-28 w-36 h-auto pb-4' %>
      <%= image_tag 'UJM_LOGO.png', alt: 'Description of the image', class: 'lg:w-auto lg:h-28 w-36 h-auto pb-4' %>
    </div>
  </div>


  <!-- BIBLIOGRAPHY -->
  <div class="container mx-auto lg:mt-12 lg:w-4/5">

    <div class="container mx-auto my-4">
      <h2 id="section-biblio" class="mb-2 text-base font-bold text-center text-icon-color-dark lg:text-xl lg:mb-4">Bibliography</h2>
    </div>

    <div class="mx-5">

      <div data-controller="toggle">
        <div data-action="click->toggle#fire">
          <p data-toggle-target="buttonActive" class="px-2 py-1 mb-2 text-sm text-gray-800 bg-white rounded shadow cursor-pointer lg:text-base lg:mb-4 lg:hover:bg-very-light-color lg:px-4 lg:py-2 active:scale-95 rounded-2xl">
            Chaux R, Lanoisele J, Magand C, Zufferey P, Delavenne X, Ollier E. <strong>Robust K-PD model for activated clotting time prediction and UFH dose individualisation during cardiopulmonary bypass.</strong> Comput Methods Programs Biomed. feb 2022;214:106553
          </p>
        </div>
        <div class="w-full mx-auto lg:w-3/5 smooth-toggle togglable-element" data-toggle-target="togglableElement">
          <div class="flex flex-col items-center justify-center">
            <a href="https://pubmed.ncbi.nlm.nih.gov/34883383/" target="_blank" rel="noopener noreferrer" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mt-4 lg:mb-4 mt-2 mb-2">
              See on PubMed
            </a>
          </div>
          <p class="mb-2 text-lg text-gray-800 lg:text-lg lg:mb-4"><strong>Abstract</strong></p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Background and objective:</strong> Activated clotting time (ACT) is a point-of-care test used to monitor the effect of unfractionated heparin (UFH) during cardiopulmonary bypass (CPB). This test sometimes returns aberrant values, which can lead to the administration of an inappropriate dosing regimen. The development of a population-robust K-PD model of UFH could allow the individualisation and automation of UFH therapy during CPB.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Methods:</strong> We conducted a prospective observational study to collect ACT measurements from patients undergoing surgery using CPB. The ACT data were split into a development and validation cohort. The development cohort was used to estimate a standard and robust population K-PD model characterised by a residual error following a normal distribution and student's t-distribution. The ACT prediction performance using Bayesian estimates of individual K-PD parameters was evaluated by comparing predicted versus observed ACTs. Using estimates of the robust K-PD model, a Bayesian individualisation strategy to automate UFH administration was proposed and evaluated using Monte Carlo simulations.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Results:</strong> A total of 295 patients were included in the study, and 1561 ACTs were collected. In patients without outlier values, Bayesian estimates (based on four ACT measurements) from both standard and robust K-PD models had similar performances, with a median prediction bias close to 0 s. In patients with outlier measurements, the use of the robust K-PD model greatly improved the prediction bias and root-mean-square error (RMSE), with a mean prediction bias of 3.25 s, IQR = [-19.9; 46.03] versus -86 s IQR = [-135.7; -63.8] for the standard model. Monte Carlo simulations showed that the robust Bayesian individualisation strategy allowed the ACT to be maintained above the target using only two to three ACT measurements.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Conclusions:</strong> The use of a robust K-PD model reduced prediction bias and RMSE in patients with outlier ACT measurements. The Bayesian individualisation strategy using robust estimates of individual parameters may help automate UFH dosing regimens. Proper clinical validation is warranted before its use in daily clinical practice.</p>
        </div>
      </div>

      <div data-controller="toggle">
        <div data-action="click->toggle#fire">
          <p data-toggle-target="buttonActive" class="px-2 py-1 mb-2 text-sm text-gray-800 bg-white rounded shadow cursor-pointer lg:text-base lg:mb-4 lg:hover:bg-very-light-color lg:px-4 lg:py-2 active:scale-95 rounded-2xl">Gibert A, Lanoisele J, Gouin-Thibault I, Pontis A, Azarnoush K, Petrosyan A, et al. <strong>Factors Influencing Unfractionated Heparin Pharmacokinetics and Pharmacodynamics During a Cardiopulmonary Bypass.</strong> Clin Pharmacokinet. jan 2 2024</p>
        </div>
        <div class="w-full mx-auto lg:w-3/5 togglable-element" data-toggle-target="togglableElement">
          <div class="flex flex-col items-center justify-center">
            <a href="https://pubmed.ncbi.nlm.nih.gov/38169065/" target="_blank" rel="noopener noreferrer" class="lg:px-3 lg:py-1 lg:text-base px-2 py-0.5 text-sm font-bold text-white bg-icon-color rounded lg:hover:bg-gray-500 active:bg-gray-600 active:scale-95 focus:outline-none focus:shadow-outline lg:mt-4 lg:mb-4 mt-2 mb-2">
              See on PubMed
            </a>
          </div>

          <p class="mb-2 text-lg text-gray-800 lg:text-lg lg:mb-4"><strong>Abstract</strong></p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Background and objective:</strong> Unfractionated heparin (UFH) is commonly used during cardiac surgery with a cardiopulmonary bypass to prevent blood clotting. However, empirical administration of UFH leads to variable responses. Pharmacokinetic and pharmacodynamic modeling can be used to optimize UFH dosing and perform real-time individualization. In previous studies, many factors that could influence UFH pharmacokinetics/pharmacodynamics had not been taken into account such as hemodilution or the type of UFH. Few covariates were identified probably owing to a lack of statistical power. This study aims to address these limitations through a meta-analysis of individual data from two studies.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Methods:</strong> An individual patient data meta-analysis was conducted using data from two single-center prospective observational studies, where different UFH types were used for anticoagulation. A pharmacodynamic/pharmacodynamic model of UFH was developed using a non-linear mixed-effects approach. Time-varying covariates such as hemodilution and fluid infusions during a cardiopulmonary bypass were considered.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Results:</strong> Activities of UFH's anti-activated factor/anti-thrombin were best described by a two-compartment model. Unfractionated heparin clearance was influenced by body weight and the specific UFH type. Volume of distribution was influenced by body weight and pre-operative fibrinogen levels. Pharmacodynamic data followed a log-linear model, accounting for the effect of hemodilution and the pre-operative fibrinogen level. Equations were derived from the model to personalize UFH dosing based on the targeted activated clotting time level and patient covariates.</p>
          <p class="mb-2 text-sm text-gray-800 lg:text-base lg:mb-4"><strong>Conclusions:</strong> The population model effectively characterized UFH's pharmacokinetics/pharmacodynamics in cardiopulmonary bypass patients. This meta-analysis incorporated new covariates related to UFH's pharmacokinetics/pharmacodynamics, enabling personalized dosing regimens. The proposed model holds potential for individualization using a Bayesian estimation.</p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER SECTION -->
  <div id="section-footer" class="h-auto mt-2 mt-8 bg-primary full-width lg:mt-12" style="background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png')">

    <div class="flex flex-row justify-center">
      <a href="#hero-banner" class="block">
        <div class="flex flex-col items-center gap-2 p-6">
          <%= image_tag 'Logo_CHU.png', alt: 'Description of the image', class: 'lg:w-64 h-auto w-32' %>
          <h2 class="text-base font-bold text-white lg:text-2xl">ACT Pred</h2>
        </div>
      </a>

      <div class="h-auto my-4 border-l-2 border-white lg:my-6"></div>

      <div class="flex flex-col items-center gap-1 p-4 lg:p-8 lg:flex-row lg:gap-6">
        <a href="" class="text-sm text-white lg:text-xl lg:hover:text-icon-color-dark">About us</a>
        <a href="" class="text-sm text-white lg:text-xl lg:hover:text-icon-color-dark">Contact informations</a>
        <a href="" class="text-sm text-white lg:text-xl lg:hover:text-icon-color-dark">Privacy policy</a>
        <a href="" class="text-sm text-white lg:text-xl lg:hover:text-icon-color-dark">Legal notices</a>
      </div>
    </div>

  </div>
</div>

<style>
  * {
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, a {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Montserrat", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  .full-width {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
  }

  .adaptative-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.rounded-corners {
  border-radius: 1rem; /* Adjust the value as needed */
}

.smooth-toggle {
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.togglable-element {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.togglable-element.expanded {
  height: auto; /* This will be dynamically set by JavaScript */
}

.fun-border {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.fun-border-2 {
  border-radius: 30% 70% 85% 15% / 61% 45% 55% 39%;
}

.parallax {
  transform: translateY(var(--parallax-offset, 0));
  transition: transform 0.2s ease-out;
}

.cursor {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .adaptative-width {
    position: static;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #result-table {
    display: none;
  }
  .split-table {
    display: block;
  }
}

@media (min-width: 769px) {
  #result-table {
    display: table;
  }
  .split-table {
    display: none;
  }
}
</style>

<script>
  document.addEventListener('scroll', function() {
    const parallaxElements = document.querySelectorAll('.parallax');
    const viewportHeight = window.innerHeight;

    parallaxElements.forEach(el => {
      const rect = el.getBoundingClientRect();
      const elementCenter = rect.top + rect.height / 2;
      const viewportCenter = viewportHeight / 2;
      const offset = (elementCenter - viewportCenter) * 0.05; // Adjust the multiplier for desired effect
      el.style.setProperty('--parallax-offset', `${offset}px`);
    });
  });

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  if (typeof typewriterEffect === 'undefined') {
  const typewriterEffect = (selector, phrases, sleepTime = 200) => {
    const textElement = document.querySelector(selector);
    let curPhraseIndex = 0;
    let curCharIndex = 0;
    let isDeleting = false;

    const type = async () => {
      const curWord = phrases[curPhraseIndex];
      if (isDeleting) {
        textElement.innerText = curWord.substring(0, curCharIndex - 1);
        curCharIndex--;
      } else {
        textElement.innerText = curWord.substring(0, curCharIndex + 1);
        curCharIndex++;
      }

      if (!isDeleting && curCharIndex === curWord.length) {
        isDeleting = true;
        await sleep(1000); // Pause before deleting
      } else if (isDeleting && curCharIndex === 0) {
        isDeleting = false;
        curPhraseIndex = (curPhraseIndex + 1) % phrases.length;
        await sleep(1000); // Pause before typing next word
      }

      setTimeout(type, sleepTime);
    };

    // Intersection Observer to trigger the animation
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          type();
          observer.unobserve(entry.target); // Stop observing once the animation starts
        }
      });
    });

    observer.observe(textElement);
  };

  typewriterEffect('#writing-weight', ['80', '65', '72', '110']);
  typewriterEffect('#writing-act', ['380', '405', '430', '410']);
  typewriterEffect('#writing-bolus', ['3500', '2000', '5200', '4350']);
}

document.addEventListener('DOMContentLoaded', () => {
  const interpretLink = document.getElementById('interpret-link');
  const toggleButton = document.querySelector('#section-result-interpretation p');

  interpretLink.addEventListener('click', (event) => {
    // Wait for the browser to scroll to the section
    setTimeout(() => {
      toggleButton.click();
    }, 100);
  });
});
</script>
